<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>main</title>
	<link href="../../static/css/main.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
</head>
<body>
	
		<div class="main-container">
			<div class="header-container">
				<h1>Usum</h1>
				<h3>연인들의 아름다운 나눔</h3>
			</div>
			<div class="submit-button">
				<button class="main-button" type="button" onclick="location.href='/login'">시작하기</button>
			</div>
		</div>	
	
</body>