@font-face { 
	font-family: 'pb';
	src: url('/static/css/pbBold.ttf')  
}


body{
	font-family: pb;
	padding: 0;
	background-color: whitesmoke; 
	margin: 0;
}

h2, h3, ul, li{
	margin: 0;
	padding: 0;
}

.inputcode-container{
	position: absolute;
	background-color: rgb(177,164,210);
	right: 0;
	left: 0;
	top: 0;
	height: 70%;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.signup-tag-container{
	position: absolute;
	top: 3%;
	right: 5%;
	color: white;
	font-size: 12px;
	color: transparent;
	z-index: 3;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.inputcode-content{
	position: absolute;
	text-align: center;
	top: 30%;
	left: 0;
	right: 0;	
}

.inputcode-header{
	text-align: center;
	font-size: 25px;
	line-height: 40px;
	margin-bottom: 20px;
	opacity: 0.9;
}

.inputcode-text{
	text-align: center;
	border: none;
	border-bottom: 1px solid white;
	background-color: transparent;
	padding: 1em;
	font-size: 22px;
	color: white;
	margin-bottom: 40px;
}

.inputcode-text::placeholder{
	color: white;
}

.inputcode-button, .back-button{
	font-family: pb;
	font-size: 24px;
	border: none;
	padding: 1em 3em;
	border-radius: 5px;
	background-color: whitesmoke;
	background-image: linear-gradient(to top, white 0%, whitesmoke 100%);
	padding: 0.7em 4.5em;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	color: rgb(177,164,210);
	margin-top: 10px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	margin-bottom: 20px;
}

.inputcode-img-container{
	position: absolute;
	bottom: 10%;
	right: 10%;
}

